.title{
    justify-content: center;
    display: flex;
    font-size: larger;
    padding: 2px ;
    border: 2px solid black;
    border-radius: 40px;

}
.parent{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 400px;}
    
.box2{
    display: flex;
     height: 150px;
    width: 200px;
    border: 2px solid black;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
img{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
p{
    margin-top: 0px;
    font-size: 8px;
    font-weight: 600;
    font-style: oblique;
}
h2{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-top: 5px;
}
h3{
    font-size: 15px;
    font-weight: 700;
    font-style: bold;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
}
