.card{
    background-color: grey;
    width: 50px;
}
.card_1{
    background-color: blue;
    font-size: 500%;
    font-weight: 100;
    padding: 100px 50px 75px 25px;  
    
}
.image{
    width: 20px;
    height: 20x;
}
.parent{
    display: flex;
    flex-direction: row;
    background-color: violet;}
