.vai{
    background-color: lightgreen;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    display: flexbox;
}
.card{
    background-color: grey;
    width: 50px;
}
.card_1{
    background-color: aqua;
    font-size: 500%;
    border: 12px;
    border-radius: 25px;
    font-weight: 100;
    padding: 25px;  
    
}
img{
    width: 100px;
    height: 100px;
}
.parent{
    display: flex;
    flex-direction: row;
    background-color: violet;}
a{
    color: skyblue;
    font-size: 30px;
    text-decoration: none;
    text-align: left;
    font-weight: bold;}
